<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogiCalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>LogiCalc</h1>
        <form method="POST">
            <input type="text" name="expression" placeholder="Enter expression (e.g., (A^B)->C)">
            <button type="submit">Evaluate</button>
        </form>

        {% if variables %}
        <div class="output">
            <table>
                <tr> 
                    {% for var in variables %}
                        <th>{{ var }}</th>
                    {% endfor %}
                    <th> {{expression}} </th>
                </tr>
                    {% for row in rows%}
                        <tr>
                            {%for val in row %}
                                <td> {{"T" if val else "F"}} </td>
                                {% endfor %}
                        </tr>
                    {% endfor %}
            </table>
        </div>
        {% endif %}

        <h3 class = "classification"> {{ classification }}</h3>
    </div>
</body>
</html>
